{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="home-wrapper">
  <h1 class="home-title">🎓 Welcome to the Course Selection Portal</h1>
  <p class="home-description">Choose your class, take the quiz, and share your feedback. This portal supports multiple sessions and secure submissions.</p>

<div class="login-buttons">
  <a href="{% url 'submit_response' %}" class="login-button login">
    <i class="fas fa-user-graduate"></i> Register (Student)
  </a>

  <a href="{% url 'student_login' %}" class="login-button login">
    <i class="fas fa-sign-in-alt"></i> Student Login
  </a>

<a href="{% url 'submit_review' %}" class="login-button login">
  <i class="fas fa-comment-dots"></i> Submit Review
</a> 

  {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
      <a href="{% url 'admin_dashboard' %}" class="login-button admin-login">
        🛡️ Admin Dashboard
      </a>
      <a href="{% url 'logout' %}" class="login-button">
        🚪 Logout
      </a>
    {% else %}
      <a href="{% url 'logout' %}" class="login-button">
        🚪 Logout
      </a>
    {% endif %}
  {% else %}
    <a href="{% url 'login' %}" class="login-button admin-login">
      🛡️ Admin Login
    </a>
  {% endif %}

</div>

    
  </div>
</div>
{% endblock %} 