<h2>{{ class_session.title }}</h2>

<form method="post">
  {% csrf_token %}
  {% for q in questions %}
    <div>
      <p>{{ q.text }}</p>

      <label><input type="radio" name="question_{{ q.id }}" value="1"> {{ q.option1 }}</label><br>
      <label><input type="radio" name="question_{{ q.id }}" value="2"> {{ q.option2 }}</label><br>
      <label><input type="radio" name="question_{{ q.id }}" value="3"> {{ q.option3 }}</label><br>
      <label><input type="radio" name="question_{{ q.id }}" value="4"> {{ q.option4 }}</label><br>
    </div>
  {% endfor %}
  <button type="submit">Submit</button>
</form>